.App {
  text-align: center;
}

.aero-flex {
  display: flex;
  flex-direction: row;
  margin: 2%;
  line-height: 3em;
}

.aero-centred {
  text-align: center;
}

.aero-flex-container {
  display: flex;
  flex-direction: row;
}