.App {
  text-align: center;
}

.aero-flex {
  display: flex;
  flex-direction: row;
  margin: 2%;
  line-height: 3em;
}

.aero-centred {
  text-align: center;
}

.aero-flex-container {
  display: flex;
  flex-direction: row;
}

/*.aero-search-container {*/
  /*position: sticky;*/
  /*top: 0;*/
  /*box-shadow: 0 6em 15px 3px #ccc;*/
  /*background-color: rgb(244, 244, 244);*/
/*}*/

.aero-search-field-container {
  border: 1px solid darkgray;
  margin-top: 5%;
  padding-left: 5px;
  border-radius: 5px;
  background-color: white;
  width: fit-content;

}

.aero-search-input-field {
  width: fit-content;
  min-width: 13vw;
  padding: 8px;
  line-height: 3em;
}

.aero-radio-container {
  padding-top: 2em;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}